/Build/ALL_BUILD.vcxproj.user
/Build/cmake_install.cmake
/Build/CMakeCache.txt
/Build/WirelessScreenCastSolution.sln
/Build/ZERO_CHECK.vcxproj
/Build/ZERO_CHECK.vcxproj.filters
/Build/bin
/Build/CMakeFiles
/Build/ColorConvertModule
/Build/ConfigModule
/Build/lib
/Build/LogModule
/Build/RingBufferModule
/Build/ScreenCaptureModule
/Build/WirelessScreenCastApplication
/Build/x64
/Build/ALL_BUILD.vcxproj
/Build/ALL_BUILD.vcxproj.filters
/Build/.vs
/Build
